/*****************************************************************************/
/* Class: Style */
/*****************************************************************************/
.class {
}

.student-list {
  list-style: none;
  padding: 0;
}

.student-list li {
  display: inline-block;
  margin-right: 10px;
}
