<template name="Class">
  <div class="class">
    {{#if isInRole 'admin'}}
      <a href="/edit_class/{{_id}}" class="btn btn-warning">Edit Class</a>
    {{/if}}
    <h1>{{name}}</h1>
    <h2>Instructors</h2>
    {{#each staff.instructors}}
      <p>{{this}}</p>
    {{/each}}
    <h2>Producers</h2>
    {{#each staff.producers}}
      <p>{{this}}</p>
    {{/each}}
    <h2>Students</h2>
    <ul class="student-list">
      {{#each students}}
        <li><div class="well">
          {{#if isInRole 'student'}}
            {{this}}
          {{/if}}
          {{#if isInRole 'admin'}}
            {{#with studentInfo this}}
              <a href="/student/{{_id}}">{{getEmail}}</a>
              {{#each getProjects _id}}
                <div>Project{{projectNum}} <i class="glyphicon glyphicon-ok" style="color: green;"></i></div>
              {{/each}}
            {{/with}}
          {{/if}}
        </div></li>
      {{/each}}
    </ul>
  </div>
</template>
